$font-family: Helvetica, sans-serif;

$blue: #01589d;
$dark: #333;
$white: #fff;

$box-padding: 5px;
$zero: 0;
$contentwidth: 900px;
$fullwh: 100%;
$center: 0 auto;

//Breaking points
$mobile: 31.1875em;
$mobile-landscape: 37.5em;
$tablet: 48em;
$desktop: 60em;